ul li {
  margin-bottom: 5px;
}
ul li a {
  position: relative;
  text-decoration: none;
}
ul li a {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}
ul li a span {
  display: inline-block;
  transform: rotate(180deg);
  font-family: Wingdings;
  margin-left: 10px;
}
ul li a span.selected {
  position: absolute;
  right: -12px;
}
ul li.m-crm a {
  color: #965d63;
}
ul li.m-callcenter a {
  color: #90947d;
}
ul li.m-report a {
  color: #3d3e41;
}
ul li.m-about a {
  color: #3ebeed;
}
a img {
  width: 240px;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px) {
  ul li a{
    font-size: 18px;
  }
  ul li a span{
    font-size: 15px;
    margin-left: 8px;
  }
  app-menu1{
    margin-top: 0.5em;
  }
  a img {
    width: 180px;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width:600px) {
  ul li a{
    font-size: 16px;
  }
  ul li a span{
    font-size: 14px;
    margin-left: 5px;
  }
  a img {
    width: 150px;
    margin-right: 1rem;
  }
}
