ul li {
  margin-bottom: 5px;
}
ul li a {
  position: relative;
  text-decoration: none;
}
ul li a {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}
ul li a span {
  display: inline-block;
  transform: rotate(180deg);
  font-family: Wingdings;
  margin-left: 10px;
}
ul li a span.selected {
  position: absolute;
  right: -12px;
}
ul li.m-crm a {
  color: #965d63;
}
ul li.m-callcenter a {
  color: #90947d;
}
ul li.m-report a {
  color: #3d3e41;
}
ul li.m-about a {
  color: #3ebeed;
}
.menu2_img {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
.menu2_img a {
  width: 46px;
  margin-left: 12px;
}
.menu2_img a:last-child{
  margin-left: 0;
}
.menu2_img a img {
  width: 100%;
}
/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px) {
  ul li a{
    font-size: 18px;
  }
  ul li a span{
    font-size: 15px;
    margin-left: 8px;
  }
  app-menu1{
    margin-top: 0.5em;
  }
  .menu2_img {
    margin-right: 1.5rem;
  }
  .menu2_img a {
    width: 38px;
    margin-left: 10px;
  }
}
@media screen and (max-width:600px) {
  ul li a{
    font-size: 16px;
  }
  ul li a span{
    font-size: 14px;
    margin-left: 5px;
  }
  .menu2_img {
    margin-right: 1rem;
  }
  .menu2_img a {
    width: 35px;
    margin-left: 8px;
  }
}
