.row .detail h2 p {
  display: inline-block;
  color: #f4d03f;
  font-weight: bold;
}
.row .detail h2.customers,
.row .row-fix .quick-access-2 ol li.customers {
  background-color: #117864;
}
.row .detail h2.others,
.row .row-fix .quick-access-2 ol li.others {
  background-color: #943126;
}
