.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/front_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f_container {
  width: 100%;
  direction: rtl;
}
.f_header {
  display: flex;
  margin-top: 4rem;
}
.main {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 10% 2rem 10%;
}
.main .content {
  display: flex;
  position: relative;
  width: 35rem;
  height: 35rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 22px Nazanin, Bahnschrift, serif;
}
.main .content .circle {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
}
.main .content .circle .section {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(52% 48%, 54% -25%, 205% 140%);
  transform-origin: center;
}
.main .content .circle .section1 {
  background-color: olive;
  transform: rotate(30deg);
}
.main .content .circle .section2 {
  background-color: teal;
  transform: rotate(150deg);
}
.main .content .circle .section3 {
  background-color: brown;
  transform: rotate(270deg);
}
.main .content .circle .section p {
  font: 40px Nazanin, Bahnschrift, serif;
  color: white;
  font-weight: bold;
}
.main .content .circle .section1 p {
  position: absolute;
  top: 27%;
  right: 17%;
  transform: rotate(-30deg);
}
.main .content .circle .section2 p {
  position: absolute;
  top: 32%;
  right: 10%;
  transform: rotate(210deg);
}
.main .content .circle .section3 p {
  position: absolute;
  top: 28%;
  right: 15%;
  transform: rotate(90deg);
}
.main .content .line-1 {
  position: absolute;
  width: 440px;
  height: 220px;
  border-top-left-radius: 220px;
  border-top-right-radius: 220px;
  border: 6px solid black;
  border-bottom: none;
  transform: rotate(-90deg);
  right: 170px;
  top: 170px;
}
.main .content .line-2 {
  position: absolute;
}
.main .content .line-3 {
  position: absolute;
}
.main .content .comma-1 {
  position: absolute;
  right: 14rem;
  top: 25px;
  transform: rotate(210deg);
}
.main .content .comma-2 {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: rotate(20deg);
}
.main .content .comma-3 {
  position: absolute;
  right: 14rem;
  bottom: 35px;
  transform: rotate(220deg);
}
