.logo {
  margin-bottom: 4rem;
}
.logo img {
  width: 150px;
}
.info_1 {
  margin-bottom: 2rem;
}
.info_1,
.info_2{
  font-size: 28px;
  color: #534e52;
  font-family: Cinema , Bahnschrift;
}
.info_2 h4 {
  font-weight: 500;
}
.cooperation {
  direction: rtl;
  color: #534e52;
  font-family: Cinema , Bahnschrift;
  margin: 5rem auto;
}
.cooperation h3 {
  font-size: 38px;
  color: #179ac4;
  margin-bottom: 2rem;
  font-weight: 500;
}
.cooperation .list-co {
  font-size: 24px;
}
.cooperation .list-co ul li {
  display: flex;
  margin-bottom: 1rem;
  height: 55px;
}
.cooperation .list-co ul li a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  color: #404042;
}
.cooperation .list-co ul li a img {
  width: 45px;
  margin-left: 2rem;
}
.cooperation .list-co ul li a img.khobregan ,
.cooperation .list-co ul li a img.pouyan {
  width: 50px;
}

/* Adaptive Codes */
@media screen and (max-width:1440px){

}
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){
  .logo img {
    width: 125px;
  }
  .logo {
    margin-bottom: 2rem;
  }
  .info_1,
  .info_2{
    font-size: 22px;
  }
  .cooperation h3 {
    font-size: 34px;
  }
}
@media screen and (max-width:890px){
}
@media screen and (max-width:768px) {

}
@media screen and (max-width:600px) {
  .logo img {
    width: 100px;
  }
  .info_1,
  .info_2{
    font-size: 18px;
  }
  .cooperation h3 {
    font-size: 28px;
  }
  .cooperation .list-co {
    font-size: 20px;
  }
}
@media screen and (max-width:480px) {

}
