<section class="container">
  <section class="abs-nav">
    <app-menu1></app-menu1>
    <app-menu2 [Selected]="'about'"></app-menu2>
  </section>
  <section class="main">
    <section class="logo">
      <a href="/"><img src="/assets/images/logo-fav.png" alt="logo-farzamte"></a>
    </section>
    <section class="info_1">
      <p>شرکت <app-spanspecial [text]="'توسعه ارتباطات هوشمند فرزام'" [color]="'#3cbeef'"></app-spanspecial> با دارا بودن تیم مدیریتی مجرب با سال ها تجربه در بازار سرمایه و مدیریت ارتباط با مشتریان شرکت منتخب کارگزاری <app-spanspecial [text]="'مبین سرمایه'" [color]="'#e27825'"></app-spanspecial> و همچنین ارائه دهنده خدمات به کارگزاری های <app-spanspecial [text]="'پیشرو'" [color]="'#039b51'"></app-spanspecial> ، <app-spanspecial [text]="'پویان'" [color]="'#d42026'"></app-spanspecial> و <app-spanspecial [text]="'خبرگان سهام'" [color]="'#2a2d7c'"></app-spanspecial> میباشد.</p>
      <p>این شرکت در حال حاضر یکی از باکیفیت ترین و متنوع ترین خدمات را به کارگزاران ارائه میکند و ماموریت خود را در حوزه بازار سرمایه تعریف نموده است که بتواند انواع خدمات پشتیبانی مشتریان را ارائه نماید.</p>
    </section>
    <section class="info_2">
      <h4>برخی خدمات :</h4>
      <p>نرم افزار مدیریت ارتباط با مشتریان ((CRM)) ، پشتیبانی تلفنی ، پشتیبانی از طریق چت آنلاین ، خدمات متفرقه کارگزاری ، پاسخگویی بر بستر شبکه های اجتماعی از درگاه هایی مانند پنل صدای مشتری ، تلگرام ، اینستاگرام ، و ... ، هپی کال ، هوشمند سازی تماس های ورودی و سیستم مدیریت پاسخگویی ، تیکتینگ ، بازاریابی ، آموزش مشتریان ، اطلاع رسانی ها و ...</p>
    </section>
  </section>
  <section class="cooperation">
    <h3>همکاری با شرکت های :</h3>
    <section class="list-co">
      <ul>
        <li><a href="/"><p>کارگزاری مبین سرمایه</p><img src="/assets/images/mobin_s.png" alt="mobins"></a></li>
        <li><a href="/"><p>کارگزاری پیشرو</p><img src="/assets/images/pishro.png" alt="pishro"></a></li>
        <li><a href="/"><p>کارگزاری پویان</p><img src="/assets/images/poyan.png" alt="poyan"></a></li>
        <li><a href="/"><p>کارگزاری خبرگان سهام</p><img src="/assets/images/khobregans.png" alt="khobregans"></a></li>
        <li><a href="/"><p>پویان اندیشان رسان رایان</p><img src="/assets/images/parasamrayan.png" alt="parasamrayan"></a></li>
        <li><a href="/"><p>بورسمان</p><img src="/assets/images/borseman.png" alt="borseman"></a></li>
        <li><a href="/"><p>امنیت شبکه رایا سامانه</p><img src="/assets/images/amniatshabake.png" alt="amniatshabake"></a></li>
        <li><a href="/"><p>مبتکران پویاکارن (جهت)</p><img src="/assets/images/jahat.png" alt="jahat"></a></li>
        <li><a href="/"><p>داده پردازی سرمایه هوشمند گرادیان</p><img src="/assets/images/geradian.png" alt="geradian"></a></li>
      </ul>
    </section>
  </section>
  <app-footer2></app-footer2>
</section>
