.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/front_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f_container {
  width: 100%;
  direction: rtl;
}
.f_header {
  display: flex;
  margin-top: 4rem;
}
.main {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 10% 2rem 10%;
}
.main .content {
  display: flex;
  position: relative;
  width: 35rem;
  height: 35rem;
  flex-direction: column;
  font: 22px Nazanin, Bahnschrift, serif;
}
