<section class="dashboard-wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main" *ngIf="this.getBroker() == 'Mobin'">
    <app-dashboard-contact class="row top-contact"></app-dashboard-contact>
    <section class="row inc-stats-header" dir="rtl">
      <section class="detail">
        <h2>گزارشات صف های پاسخگویی تماس ورودی</h2>
      </section>
      <mat-form-field appearance="outline" class="input-type">
        <mat-label>نوع صف پاسخگویی</mat-label>
        <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeChange()">
          <mat-option *ngFor="let t of types" [value]="t">{{ convertTypeToFarsi(t) }}</mat-option>
        </mat-select>
      </mat-form-field>
      <section class="table3" style="direction: rtl">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="type">
            <th *matHeaderCellDef> نوع </th>
            <td *matCellDef="let element">{{ element.type }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th *matHeaderCellDef> تاریخ </th>
            <td *matCellDef="let element">{{ element.date }}</td>
          </ng-container>
          <ng-container matColumnDef="answered">
            <th *matHeaderCellDef> پاسخ داده‌شده </th>
            <td *matCellDef="let element">{{ element.answered }}</td>
          </ng-container>
          <ng-container matColumnDef="avgWait">
            <th *matHeaderCellDef> میانگین زمان انتظار </th>
            <td *matCellDef="let element">{{ element.avgWait }}</td>
          </ng-container>
          <ng-container matColumnDef="avgTalk">
            <th *matHeaderCellDef> میانگین زمان مکالمه </th>
            <td *matCellDef="let element">{{ element.avgTalk }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]" showFirstLastButtons></mat-paginator>
      </section>
    </section>
  </section>
</section>
