<section class="container">
    <app-header></app-header>
    <section class="main">
        <section class="pull-right">
            <section class="wallpaper"></section>
        </section>
        <section class="pull-left">
            <section class="title">
                <h1>FARZAMTE</h1>
            </section>
            <section class="social-media">
                <ul>
                    <li><a href="tel:02191002313" target="_social"><img src="assets/icons/phone.png" alt="phone"></a></li>
                    <li><a href="http://wa.me/+989190944201" target="_social"><img src="assets/icons/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="https://t.me/farzamte" target="_social"><img src="assets/icons/telegram.png" alt="telegram"></a></li>
                    <li><a href="" target="_social"><img src="assets/icons/instagram.png" alt="instagram"></a></li>
                </ul>
            </section>
            <section class="spacer-1"></section>
            <section class="spacer-2"></section>
          <section class="menu1">
            <ul>
              <li class="m-signin"><a href="/login"><span></span> Sign In</a></li>
              <li class="m-home"><a href="/home"><span></span> FarzamTe</a></li>
              <li class="m-supp"><a href="/support"><span></span> Support</a></li>
            </ul>
          </section>
        </section>
    </section>
    <app-footer1></app-footer1>
</section>
