<section class="dashboard-wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>

  <section class="dashboard-main">
    <app-dashboard-topmenu></app-dashboard-topmenu>

    <div class="content-scrollable">

      <div class="coming-soon-container shadow-sm">
        <div class="icon-wrapper">
          <i class="material-icons">construction</i>
        </div>

        <h3>به‌زودی این قسمت اضافه خواهد شد!</h3>

        <p>
          تیم فنی ما در حال طراحی و پیاده‌سازی گزارشات این بخش است.
          به‌زودی می‌توانید داده‌های مربوط به این قسمت را با جزئیات کامل مشاهده کنید.
          <br>
          <b>از شکیبایی شما سپاسگزاریم.</b>
        </p>

        <div class="progress-mini">
          <div class="progress-bar"></div>
        </div>
      </div>

    </div>
  </section>
</section>
