<section class="dashboard-wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main">
    <section class="row">
      <section class="detail">
        <h2>پروفایل</h2>
      </section>
      <section class="profile">
        <section class="information">
          <form [formGroup]="profileform" class="main-form">
            <section class="header">
              <h3>اطلاعات حساب کاربری</h3>
            </section>
            <section class="loading-spinner" *ngIf="!flag_profile">
              <mat-spinner></mat-spinner>
            </section>
            <section class="form" *ngIf="flag_profile">
              <section class="item">
                <label for="firstName">نام : </label>
                <input class="firstName" type="text" formControlName="firstName" id="firstName" placeholder="نام" value="{{formData.firstName}}">
              </section>
              <section class="item">
                <label for="lastName">نام خانوادگی : </label>
                <input class="lastName" type="text" formControlName="lastName" id="lastName" placeholder="نام خانوادگی" value="{{formData.lastName}}">
              </section>
              <section class="item">
                <label for="email">ایمیل : </label>
                <input class="email" type="text" formControlName="email" id="email" placeholder="ایمیل" value="{{formData.email}}">
              </section>
              <section class="item">
                <label for="phoneNumber">تلفن همراه : </label>
                <input class="phoneNumber" type="text" formControlName="phoneNumber" id="phoneNumber" placeholder="تلفن تماس" value="{{formData.phoneNumber}}">
              </section>
              <section class="item">
                <label for="city">شهر : </label>
                <input class="city" type="text" formControlName="city" id="city" placeholder="شهر" value="{{formData.city}}">
              </section>
              <section class="item">
                <label for="address">آدرس : </label>
                <input class="address" type="text" formControlName="address" id="address" placeholder="آدرس" value="{{formData.address}}">
              </section>
              <section class="item">
                <label for="postalCode">کدپستی : </label>
                <input class="postalCode" type="text" formControlName="postalCode" id="postalCode" placeholder="کدپستی" value="{{formData.postalCode}}">
              </section>
              <section class="item">
                <label>سطح کاربری : </label>
                <section ngSwitch="{{formData.role}}">
                  <input class="role" type="text" *ngSwitchCase="'Normal'" value="عادی" disabled>
                  <input class="role" type="text" *ngSwitchCase="'Admin'" value="ادمین کارگزاری" disabled>
                  <input class="role" type="text" *ngSwitchCase="'Owner'" value="توسعه دهنده" disabled>
                  <input class="role" type="text" *ngSwitchDefault value="نقش شناخته شده نیست" disabled>
                </section>
              </section>
              <section class="item">
                <label for="brokerSelect">کارگزاری: </label>
                <section [ngSwitch]="formData.role">
                  <input class="broker" type="text" *ngSwitchCase="'Admin'" [value]="formData.broker" disabled>
                  <input class="broker" type="text" *ngSwitchCase="'Normal'" [value]="formData.broker" disabled>
                  <section *ngSwitchCase="'Owner'">
                    <select id="brokerSelect" formControlName="broker">
                      <option *ngFor="let broker of brokers" [value]="broker">{{ broker }}</option>
                    </select>
                  </section>
                  <input class="role" type="text" *ngSwitchDefault value="کارگزاری مشخص نیست" disabled>
                </section>
              </section>
              <section class="item">
                <label>نام کاربری : </label>
                <input class="username" type="text" value="{{formData.userName}}" disabled>
              </section>
              <section class="item">
                <label for="password">گذرواژه : </label>
                <input class="password" type="password" formControlName="password" id="password" [class.is-invalid]="profileform.controls['password'].dirty && profileform.hasError('required','password')" placeholder="گذرواژه">
                <small *ngIf="profileform.controls['password'].dirty && profileform.hasError('required','password')" class="text-error">وارد کردن گذرواژه الزامیست!</small>
              </section>
              <section class="item">
                <input (click)="onUpdate()" type="submit" class="submit" value="ویرایش اطلاعات">
              </section>
            </section>
          </form>
        </section>
        <section class="change-password">
          <form [formGroup]="changepass_form">
            <section class="header">
              <h3>ویرایش گذرواژه</h3>
            </section>
            <section class="loading-spinner" *ngIf="!flag_profile">
              <mat-spinner></mat-spinner>
            </section>
            <section class="form" *ngIf="flag_profile">
              <section class="item">
                <label for="chp_password">گذرواژه : </label>
                <input class="password" type="password" formControlName="password" id="chp_password" [class.is-invalid]="changepass_form.controls['password'].dirty && changepass_form.hasError('required','password')" placeholder="گذرواژه">
                <small *ngIf="changepass_form.controls['password'].dirty && changepass_form.hasError('required','password')" class="text-error">وارد کردن گذرواژه الزامیست!</small>
              </section>
              <section class="item">
                <label for="chp_new_password">گذرواژه جدید : </label>
                <input class="password" type="password" formControlName="new_password" id="chp_new_password" [class.is-invalid]="changepass_form.controls['new_password'].dirty && changepass_form.hasError('required','new_password')" placeholder="گذرواژه جدید">
                <small *ngIf="changepass_form.controls['new_password'].dirty && changepass_form.hasError('required','new_password')" class="text-error">وارد کردن گذرواژه جدید الزامیست!</small>
              </section>
              <section class="item">
                <label for="chp_re_password">تکرار گذرواژه : </label>
                <input class="password" type="password" formControlName="re_password" id="chp_re_password" [class.is-invalid]="changepass_form.controls['re_password'].dirty && changepass_form.hasError('required','re_password')" placeholder="تکرار گذرواژه">
                <small *ngIf="changepass_form.controls['re_password'].dirty && changepass_form.hasError('required','re_password')" class="text-error">وارد کردن تکرار گذرواژه الزامیست!</small>
              </section>
              <section class="item">
                <input (click)="onChangePassword()" type="submit" class="submit" value="ویرایش گذرواژه">
              </section>
            </section>
          </form>
        </section>
      </section>
    </section>
  </section>
</section>
