.text-list ul li::before {
  content: '✓';
  font-weight: bold;
  color: #46831d;
}
.text-list ul li {
  margin-bottom: 5px;
}
.text-list ul li p {
  display: inline-block;
  margin-right: 15px;
  font: 20px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}
.shape {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
}
.shape .circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #ffd200;
}
.shape .circle .all-p {
  padding: 2rem 1rem 2rem 1rem;
}
.shape .circle .all-p p {
  text-align: center;
  font: 22px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}
.shape .line-1 {
  position: absolute;
  top: 10px;
  right: -32px;
  width: 280px;
  height: 140px;
  border: 6px solid black;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  clip-path: polygon(0% 80%, 100% 80%, 100% 0%, 50% 0%, 0% 0%);
  transform: rotate(30deg);
  border-bottom: none;
}
.shape .line-2 {
  position: absolute;
  top: 136px;
  right: 40px;
  width: 280px;
  height: 140px;
  border: 6px solid black;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  clip-path: polygon(0% 80%, 100% 80%, 100% 0%, 50% 0%, 0% 0%);
  transform: rotate(-150deg);
  border-bottom: none;
}
.shape .comma-1 {
  position: absolute;
  display: inline-block;
  transform: rotate(190deg);
  top: 52px;
  left: 7px;
}
.shape .comma-2 {
  position: absolute;
  display: inline-block;
  transform: rotate(190deg);
  bottom: 62px;
  right: 7px;
}
@media screen and (max-width:1400px){
  .text-list {
    margin-top: 2rem;
  }
}
@media screen and (max-width:768px){

}
@media screen and (max-width:620px){
  .text-list ul li::before {
    display: none;
  }
  .text-list ul li {
    list-style: none;
  }
  .text-list ul li p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-right: 0;
  }
  .text-list ul li {
    background-color: #195f83;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
  }
}
