<section class="container">
  <section class="abs-nav">
    <app-menu1></app-menu1>
    <app-menu2 [Selected]="'callcenter'"></app-menu2>
  </section>
  <section class="note-container">
    <app-note3
      [title]="'CallCenter'"
      [title2]="'خدمات پشتیبانی و امور مشتریان'"
      [title3]="'مهم ترین کانال ارتباطی با مشتریان مراکز تماس هستند'"
      [text]="'با توجه به تحولات خدمات و انتظارات مشتریان ، هر سازمانی نیاز به ارتباط دقیق و موثری جهت بهبود تجربه مشتریان و رونق تجارت خود دارد'"
      [border_color]="'#91957e'"
      [title_color]="'#91957e'"
      [title2_color]="'#6e7c7c'"
      [title3_color]="'#333333'"
      [text_color]="'#6e7c7c'"></app-note3>
  </section>
  <section class="row">
    <app-note1
      [title]="'مکالمات تلفنی'"
      [text]="'ساختاری قابل انعطاف جهت ارتباط سریع و آسان با هدف پشتیبانی ، افزایش وفاداری و ارائه تعهد خدمات'"
      [color]="'#009b9c'"></app-note1>
    <app-note1
      [title]="'مکالمات متنی'"
      [text]="'ارتباط مستقیم و درلحظه با مشتریان با قابلیت دریافت لحظه ای فایل های موردنیاز از درگاهایی که خدمات توسط آنها ارائه می شود مانند سایت یک شرکت و یا شبکه های اجتماعی'"
      [color]="'#da2c3d'"></app-note1>
    <app-note1
      [title]="'تماس های آفلاین'"
      [text]="'درگاه های صوتی،سایت،شبکه های اجتماعی و ... جهت دریافت درخواست ها،پیگیری و پاسخگویی در زمان مشخص،مسیرهای منحصر به فردی برای مشتریان هستند'"
      [color]="'#fba81a'"></app-note1>
  </section>
  <section class="note-list-container">
    <app-notelist
      [title]="'CallCenter'"
      [color]="'#91957e'"
      [items]="[
    'کارشناسان آموزش دیده در حوزه پشتیبانی مشتریان (دارای مدرک کارشناسی امور مشتریان از کانون کارگزاران)',
    'کارشناسان مسلط به مباحث مالی و بازار سرمایه (دارای مدرک معامله گر برخط گروهی از کانون کارگزاران)',
    'گروه های مرکز تماس (کارشناس پاسخگو،بازاریابی و هپی کال،سوپروایزرها،آموزش و کنترل کیفیت)',
    'به کارگیری کارشناسان بر اساس ورودی تماس (بدست آوردن کمترین زمان انتظار مشتریان SLA)',
    'نظارت لحظه ای بر شاخص های کمی تماس ها',
    'نظارت دوره ای بر شاخص های کیفیت تماس ها',
    'جلسات آموزش دوره ای برای کارشناسان مرکز تماس (مباحث بازار سرمایه،پاسخگویی مشتریان،فن بیان،ارتباط موثر و ...)',
    'ارائه گزارش های دوره ای نسبت به فعالیت های انجام شده در مرکز تماس (شاخص های کمی و کیفی)',
    'ایجاد لایه های تخصصی پاسخگویی (دسته بندی مشتریان با سطوح مختلف و ارائه خدمات به مشتریان)',]"
    [bs_width]="'10rem'"
    [bs_width_reverse]="'-2rem'"></app-notelist>
  </section>
  <section class="callcenter_footer_icons">
    <img src="/assets/images/icons-2.png" alt="icons">
  </section>
  <app-footer2></app-footer2>
</section>
