<section class="dashboard-wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main" *ngIf="getBroker() == 'Mobin'">
    <app-dashboard-contact class="row top-contact"></app-dashboard-contact>
    <section class="row">
      <section class="detail">
        <h2>انتخاب تاریخ گزارش</h2>
      </section>
      <section class="datepicker-input">
        <section class="loading-spinner" *ngIf="!flag_time">
          <mat-spinner></mat-spinner>
        </section>
        <form [formGroup]="dateform" *ngIf="flag_time">
          <label for="StartDate">از تاریخ : </label>
          <input type="date" id="StartDate" formControlName="StartDate" value="{{StartDate}}">
          <label for="EndDate">تا تاریخ : </label>
          <input type="date" id="EndDate" formControlName="EndDate" value="{{EndDate}}">
          <input type="submit" value="جست و جو" (click)="OnUpdateDate()">
        </form>
        <section class="time_auto" *ngIf="flag_time">
          <button class="auto" (click)="SetTime(30)">یک ماهه</button>
          <button class="auto" (click)="SetTime(90)">سه ماهه</button>
          <button class="auto" (click)="SetTime(180)">شش ماهه</button>
        </section>
        <section class="time_text" *ngIf="flag_time">
          <p>بازه زمانی انتخابی : {{selected_days}} روز</p>
        </section>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>آمار تماس ها</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_count_day">
        <mat-spinner></mat-spinner>
      </section>
      <section class="line-chart-c1" *ngIf="flag_count_day">
        <section echarts [options]="series_count_day"></section>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>آمار کلی</h2>
      </section>
      <h3 class="row-middle-h3">انواع اطلاع رسانی</h3>
      <section class="loading-spinner" *ngIf="!flag_noticetype">
        <mat-spinner></mat-spinner>
      </section>
      <section class="number-card-c2" *ngIf="flag_noticetype">
        <section *ngFor="let item of series_data_Noticetype; let i = index">
          <section class="card" [style.background-color]="series_color[i]"><p class="key">{{item.name}}</p><p class="value">{{item.value}}</p></section>
        </section>
      </section>
      <h3 class="row-middle-h3">انواع افزایش سرمایه</h3>
      <section class="loading-spinner" *ngIf="!flag_capitalincrease">
        <mat-spinner></mat-spinner>
      </section>
      <section class="number-card-c2" *ngIf="flag_capitalincrease">
        <section *ngFor="let item of series_data_capitalincrease; let i = index">
          <section class="card" [style.background-color]="series_color[i]"><p class="key">{{item.name}}</p><p class="value">{{item.value}}</p></section>
        </section>
      </section>
      <section class="st_to_en" *ngIf="flag_noticetype">
        <p>{{st_to_en}}</p>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>انواع تماس ها</h2>
      </section>
      <section class="both-chart">
        <section class="loading-spinner" *ngIf="!flag_noticetype">
          <mat-spinner></mat-spinner>
        </section>
        <section class="pie-chart-c3" *ngIf="flag_noticetype">
          <section echarts [options]="series_Noticetype_Pie"></section>
        </section>
        <section class="loading-spinner" *ngIf="!flag_capitalincrease">
          <mat-spinner></mat-spinner>
        </section>
        <section class="pie-chart-c3" *ngIf="flag_capitalincrease">
          <section echarts [options]="series_capitalincrease_Pie"></section>
        </section>
      </section>
      <section class="st_to_en" *ngIf="flag_capitalincrease">
        <p>{{st_to_en}}</p>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>تماس بر حسب نماد</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_symbol">
        <mat-spinner></mat-spinner>
      </section>
      <section style="min-height: 500px" class="tree-map-c2" id="Ph_Reasons" echarts [options]="series_Symbol_tmp" *ngIf="flag_symbol"></section>
      <section class="st_to_en" *ngIf="flag_symbol">
        <p>{{st_to_en}}</p>
      </section>
    </section>
  </section>
  <section class="dashboard-main" *ngIf="getBroker() != 'Mobin'">
    <section class="row">
      <section class="detail">
        <h2>بزودی ...</h2>
      </section>
    </section>
  </section>
</section>
