<section class="dashboard-wrapper">
  <app-dashboard-topmenu></app-dashboard-topmenu>
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main">
    <section class="row">
      <ngx-charts-line-chart
        [view]="[600,400]"
        [results]="dataset2"
        [legendTitle]="'Country'"
        [legend]="true"
        [yAxis]="true"
        [autoScale]="true"
        [animations]="true">
      </ngx-charts-line-chart>
    </section>
    <section class="row">
      <ngx-charts-pie-chart
        [view]="[800,600]"
        [results]="dataset"
        [legendTitle]="'Country'"
        [legend]="true"
        [animations]="true"
        [labels]="true">
      </ngx-charts-pie-chart>
    </section>
    <section class="row">
      <ngx-charts-bar-vertical
        [view]="[800,400]"
        [results]="dataset"
        [legendTitle]="'Country'"
        [legend]="true"
        [xAxis]="true"
        [yAxis]="true"
        [animations]="true">
      </ngx-charts-bar-vertical>
    </section>
  </section>
</section>
