<ngx-charts-line-chart
  [view]="[600,400]"
  [results]="dataset2"
  [legendTitle]="'Country'"
  [legend]="true"
  [yAxis]="true"
  [autoScale]="true"
  [animations]="true">
</ngx-charts-line-chart>
<ngx-charts-pie-chart
  [view]="[800,600]"
  [results]="dataset"
  [legendTitle]="'Country'"
  [legend]="true"
  [animations]="true"
  [labels]="true">
</ngx-charts-pie-chart>
<ngx-charts-bar-vertical
  [view]="[800,400]"
  [results]="dataset"
  [legendTitle]="'Country'"
  [legend]="true"
  [xAxis]="true"
  [yAxis]="true"
  [animations]="true">
</ngx-charts-bar-vertical>

