.shape {
  display: block;
  position: relative;
  width: 35rem;
  height: 35rem;
}
.shape .content-yellow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffd200;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.shape .content-yellow h4.h4-1 {
  margin: 6rem 11rem 0 11rem;
  text-align: center;
}
.shape .content-yellow p.p-1 {
  margin: 1rem 8rem 0 8rem;
  text-align: justify;
}
.shape .content-yellow p.p-2 {
  margin: 0 8rem 0 8rem;
  text-align: justify;
}
.shape .line-top {
  display: inline-block;
  position: absolute;
  background-color: black;
  transform: rotate(135deg);
  width: 4px;
  height: 440px;
  right: 155px;
  top: -110px;
  border-radius: 5px;
}
.shape .line-bottom {
  display: inline-block;
  position: absolute;
  background-color: black;
  transform: rotate(135deg);
  width: 4px;
  height: 440px;
  left: 170px;
  bottom: -98px;
  border-radius: 5px;
}
.shape .comma-left {
  display: flex;
  position: absolute;
  width: min-content;
  height: min-content;
  transform: rotate(180deg);
  left: 0;
  top: 28%;
}
.shape .comma-right {
  display: flex;
  position: absolute;
  width: min-content;
  height: min-content;
  right: 0;
  bottom: 28%;
}
.catalog-content {
  margin: 0 10%;
}
/** Adaptive Codes **/
@media screen and (max-width:1200px){
  .catalog-content {
    margin: 0 auto;
  }
}
@media screen and (max-height:800px), screen and (max-width:1024px){
  .catalog-main {
    margin: 3rem 1rem 4rem;
  }
  .shape {
    width: 30rem;
    height: 30rem;
    font-size: 20px;
  }
  .shape .line-top {
    height: 390px;
    right: 140px;
    top: -108px;
  }
  .shape .line-bottom {
    height: 390px;
    left: 155px;
    bottom: -100px;
  }
  .shape .comma-left svg ,
  .shape .comma-right svg {
    width: 50px;
    height: 50px;
  }
  .shape .content-yellow h4.h4-1 {
    margin: 5rem 9.5rem 0 9.5rem;
  }
  .shape .content-yellow p.p-1 {
    margin: 0.5rem 7rem 0 7rem;
  }
  .shape .content-yellow p.p-2 {
    margin: 0 7rem 0 7rem;
  }
}
@media screen and (max-width:768px){
  .shape {
    width: 26rem;
    height: 26rem;
    font-size: 18px;
  }
  .shape .line-top {
    height: 350px;
    right: 125px;
    top: -105px;
  }
  .shape .line-bottom {
    height: 350px;
    left: 138px;
    bottom: -95px;
  }
  .shape .comma-left svg ,
  .shape .comma-right svg {
    width: 40px;
    height: 40px;
  }
  .shape .content-yellow h4.h4-1 {
    margin: 4rem 8rem 0 8rem;
  }
  .shape .content-yellow p.p-1 {
    margin: 0.5rem 6rem 0 6rem;
  }
  .shape .content-yellow p.p-2 {
    margin: 0 6rem 0 6rem;
  }
}
@media screen and (max-width:500px){
  .shape {
    width: 22rem;
    height: 22rem;
    font-size: 15px;
  }
  .shape .content-yellow h4.h4-1 {
    margin: 3.2rem 7rem 0 7rem;
  }
  .shape .content-yellow p.p-1 {
    margin: 5px 5rem 0 5rem;
  }
  .shape .content-yellow p.p-2 {
    margin: 0 5.5rem 0 5rem;
  }
  .shape .line-top {
    height: 300px;
    right: 110px;
    top: -95px;
  }
  .shape .line-bottom {
    height: 300px;
    left: 120px;
    bottom: -85px;
  }
  .shape .comma-left svg ,
  .shape .comma-right svg {
    width: 35px;
    height: 35px;
  }
  .shape .comma-left {
    top: 30%;
  }
  .shape .comma-right {
    bottom: 30%;
  }
}
