.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/front_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f_container {
  width: 100%;
  direction: rtl;
}
.f_header {
  display: flex;
  margin-top: 4rem;
}
.main {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 10% 2rem 10%;
}
.main .content {
  display: flex;
  position: relative;
  width: 35rem;
  height: 35rem;
  flex-direction: column;
  font: 22px Nazanin, Bahnschrift, serif;
}
.main .content .content-yellow {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 35rem;
  background-color: #ffd200;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.main .content .content-yellow h4.h4-1 {
  margin: 6rem 11rem 0 11rem;
  text-align: center;
}
.main .content .content-yellow p.p-1 {
  margin: 1rem 8rem 0 8rem;
  text-align: justify;
}
.main .content .content-yellow p.p-2 {
  margin: 0 8rem 0 8rem;
  text-align: justify;
}
.main .content .line-top {
  display: inline-block;
  position: absolute;
  background-color: black;
  transform: rotate(135deg);
  width: 4px;
  height: 440px;
  right: 155px;
  top: -110px;
  border-radius: 5px;
}
.main .content .line-bottom {
  display: inline-block;
  position: absolute;
  background-color: black;
  transform: rotate(135deg);
  width: 4px;
  height: 440px;
  left: 172px;
  bottom: -100px;
  border-radius: 5px;
}
.main .content .comma-left {
  display: flex;
  position: absolute;
  width: min-content;
  height: min-content;
  transform: rotate(180deg);
  left: 0;
  top: 28%;
}
.main .content .comma-right {
  display: flex;
  position: absolute;
  width: min-content;
  height: min-content;
  right: 0;
  bottom: 28%;
}
/** Adaptive Codes **/
@media screen and (max-width:1024px){
  .main {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 12vh auto 4vh;
  }
  .main .content {
    width: 30rem;
    height: 30rem;
    font: 18px Nazanin, Bahnschrift, serif;
  }
  .main .content .content-yellow {
    width: 30rem;
    height: 30rem;
  }
  .main .content .line-top {
    height: 390px;
    right: 140px;
    top: -108px;
  }
  .main .content .line-bottom {
    height: 390px;
    left: 155px;
    bottom: -100px;
  }
  .main .content .comma-left svg ,
  .main .content .comma-right svg {
    width: 50px;
    height: 50px;
  }
  .main .content .content-yellow h4.h4-1 {
    margin: 6rem 10rem 0 10rem;
  }
  .main .content .content-yellow p.p-1 {
    margin: 1rem 7rem 0 7rem;
  }
  .main .content .content-yellow p.p-2 {
    margin: 0 7rem 0 7rem;
  }
}
@media screen and (max-width:768px){
  .main .content {
    width: 26rem;
    height: 26rem;
    font: 16px Nazanin, Bahnschrift, serif;
  }
  .main .content .content-yellow {
    width: 26rem;
    height: 26rem;
  }
  .main .content .line-top {
    height: 350px;
    right: 125px;
    top: -105px;
  }
  .main .content .line-bottom {
    height: 350px;
    left: 138px;
    bottom: -95px;
  }
  .main .content .comma-left svg ,
  .main .content .comma-right svg {
    width: 40px;
    height: 40px;
  }
  .main .content .content-yellow h4.h4-1 {
    margin: 4rem 8.5rem 0 8.5rem;
  }
  .main .content .content-yellow p.p-1 {
    margin: 1rem 6.5rem 0 6.5rem;
  }
  .main .content .content-yellow p.p-2 {
    margin: 0 6.5rem 0 6.5rem;
  }
}
