<section class="container">
    <section class="header">
        <a class="logo" href="/"><img src="assets/images/Logo.png" alt="logo"></a>
    </section>
    <section class="main">
        <section class="pull-right">
            <section class="wallpaper"></section>
        </section>
        <section class="pull-left">
            <section class="title">
                <h1>FARZAMTE</h1>
            </section>
            <section class="social-media">
                <ul>
                    <li><a href="" target="_social"><img src="assets/icons/phone.png" alt="phone"></a></li>
                    <li><a href="http://wa.me/+989190944201" target="_social"><img src="assets/icons/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="https://t.me/farzamte" target="_social"><img src="assets/icons/telegram.png" alt="telegram"></a></li>
                    <li><a href="" target="_social"><img src="assets/icons/instagram.png" alt="instagram"></a></li>
                </ul>
            </section>
            <section class="spacer-1"></section>
            <section class="spacer-2"></section>
            <section class="menu">
                <ul>
                    <li class="m-signin"><a href="/login"><span></span> Sign In</a></li>
                    <li class="m-home"><a href="/blog"><span></span> FarzamTe</a></li>
                    <li class="m-supp"><a href="/blog/support"><span></span> Support</a></li>
                </ul>
            </section>
        </section>
    </section>
    <section class="clear"></section>
    <section class="footer">
        <a class="footer-img" href="/"><img src="assets/images/footer-box.png" alt=""></a>
        <p class="footer-cp">لازمه باقی ماندن در عرصه رقابت حفظ مشتریان ، ارتباط موثر  و استاندارد است</p>
    </section>
</section>
