.main {
  flex-direction: column;
  margin: 2rem auto;
}
.main .title {
  width: fit-content;
  color: #d6a026;
  font-size: 26px;
  font-family: Cinema , Bahnschrift;
  margin-bottom: -3px;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-bottom: 3px dotted #d6a026;
}
.main h5.main-footer-title {
  color: #d6a026;
  font-size: 22px;
  font-family: Cinema , Bahnschrift;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.main .border-special{
  width: 210px;
  height: 65px;
  border-top: 3px solid #d6a026;
  border-right: 3px solid #d6a026;
  border-top-right-radius: 30px;
}
.main .fill {
  display: flex;
  padding-top: 1.5rem;
  padding-right: 2rem;
  margin-top: -65px;
}
.main .fill .information {
  font-size: 20px;
  color: #544f53;
  font-family: Cinema , Bahnschrift;
}
.main .fill .image {
  margin-right: -10rem;
}
.main .fill .image img {
  width: 465px;
}
.que {
  margin: 5px 0;
}
.image_mobile {
  display: none;
}




/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){
  .main .fill .information {
    font-size: 18px;
  }
}
@media screen and (max-width:768px) {
  .main {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .main .title {
    margin-right: 0;
    border-bottom: 3px solid #d6a026;
  }
  .main .fill {
    margin-top: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .main .fill .image img {
    display: none;
  }
  .border-special {
    display: none;
  }
  .que {
    text-align: center;
    text-wrap: nowrap;
    font-size: 12px;
  }
  .image_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .image_mobile img {
    width: 80%;
  }
  .main .fill .information {
    font-size: 14px;
  }
  .main h5.main-footer-title {
    text-align: center;
    text-wrap: nowrap;
  }
}
@media screen and (max-width:600px) {

}

