<section class="container">
  <app-menu1></app-menu1>
  <app-menu2></app-menu2>
  <section class="main">
    <h2 class="title">چرا به crm نیاز داریم؟</h2>
    <section class="border-special"></section>
    <section class="fill">
      <section class="information">
        <p class="que">آیا کارشناسان شما اطلاعات مشتریان را در لحظه و متمرکز، جهت ارائه خدمات مطلوب در دسترس دارند؟</p>
        <p class="que">آیا سیستم یکپارچه جهت کمپین های تبلیغاتی، بازاریابی و سرنخ های فروش را در اختیار دارید؟</p>
        <p class="que">آیا سیستمی برای ثبت مشکلات مشتریان و پیگیری آنها تا رفع مشکل در اختیار دارید؟</p>
        <p class="que">آیا از میزان رضایت مشتریان بابت دریافت خدمات مطلع هستید؟</p>
        <p class="que">آیا برای وفادار شدن مشتریان مسیری را تعریف نموده اید؟</p>
        <p class="que">آیا عملکرد کمی و کیفی اعضای تیم خودرا در اختیار دارید؟</p>
        <p class="que">و...</p>
      </section>
      <section class="image">
        <img src="/assets/images/home_crm.png" alt="crm">
      </section>
    </section>
  </section>
  <app-footer1></app-footer1>
</section>
