<section class="container">
  <section class="abs-nav">
    <app-menu1></app-menu1>
    <app-menu2 [Selected]="'home'"></app-menu2>
  </section>
  <section class="main">
    <h2 class="title">چرا به crm نیاز داریم؟</h2>
    <section class="border-special"></section>
    <section class="fill">
      <section class="information">
        <p class="que">آیا کارشناسان شما اطلاعات مشتریان را در لحظه و متمرکز، جهت ارائه خدمات مطلوب در دسترس دارند؟</p>
        <p class="que">آیا سیسـتم یکپارچـه جهت کمپین های تبلیغاتی، بازاریابی و سرنخ های فروش را در اختیـار دارید؟</p>
        <p class="que">آیا سیســتمی بـرای ثـبت مــشکلات مشـتریـان و پیگیـری آنها تا رفـع مشـکل در اختیار دارید؟</p>
        <p class="que">آیـــا از میــــزان رضــــایت مشــــتریان بابــــت دریــــافت خدمــــات مــطــلــــع هسـتید؟</p>
        <p class="que">آیـــا بــــرای وفـــــادار شـــدن مشــتریــــان مســـــیری را تعـریــــف نـــموده اید؟</p>
        <p class="que">آیــا عملکــرد کمــی و کیفــی اعضـای تیـم خود را در اختیــار دارید؟</p>
        <p class="que">و...</p>
      </section>
      <section class="image">
        <img src="/assets/images/home_crm.png" alt="crm">
      </section>
    </section>
    <h5 class="main-footer-title">CRM ابزار های مورد نیاز شما را فراهم میکند.</h5>
  </section>
  <app-footer2></app-footer2>
</section>
