<section class="container">
  <section class="abs-nav">
    <app-menu1></app-menu1>
    <app-menu2 [Selected]="'crm-old'"></app-menu2>
  </section>
  <section class="note-container">
    <app-note4
      [title]="'crm'"
      [title2]="'مدیریت ارتباط با مشتریان'"
      [title3]="'قوی ترین و کارآمدترین رویکرد در حفظ و ایجاد روابط مشتریان'"
      [items]="[
      'ماژول،کامپوننت و پلاگین های تخصصی بازار سرمایه',
      'نیروی اختصاصی برای پشتیبانی از نرم افزار',
      'تضمین امنیت اطلاعات',
      'قیمت منصفانه']"
      [border_color]="'#955b61'"
      [title_color]="'#955b61'"
      [title2_color]="'#062513'"
      [title3_color]="'#b2747a'"
      [item_color]="'#03230d'"></app-note4>
  </section>
  <section class="row">
    <app-note1
      [title]="'پشتیبانی'"
      [text]="'جمع آوری ، سازماندهی و آنالیز داده های مشتریان که ارتباط با آنهارا آسانتر و سودمنتدتر میکند.'"
      [color]="'#009a9b'"></app-note1>
    <app-note1
      [title]="'فروش'"
      [text]="'بررسی و گزارش گیری از فعالیت ها ، ارتباطات مشتری و نیازسنجی جهت تقویت روابط ، کاهش هزینه ها و افزایش بهره وری و سودآوری.'"
      [color]="'#fba919'"></app-note1>
    <app-note1
      [title]="'بازاریابی'"
      [text]="'ارتباط با مشتریان موجود و رونق یافتن کسب و کار از طریق جذب مشتریان بیشتر.'"
      [color]="'#ee2f3f'"></app-note1>
  </section>
  <section class="note-list-container">
    <app-notelist
    [title]="'crm'"
    [color]="'#965d63'"
    [items]="[
    'ثبت و یکپارچه سازی اطلاعات مشتریان',
    'مدیریت ارتباط با مشتری',
    'تیکتینگ',
    'گزارش گیری و تحلیل اطلاعات',
    'بازاریابی',
    'فروش و ارائه خدمات',
    'مدیریت فرآیند کسب و کار(BPMS)',
    'هپی کال ، نظرسنجی',
    'تضمین کیفیت(QA)',]"
    [bs_width]="'85px'"
    [bs_width_reverse]="'0'"></app-notelist>
  </section>
  <section class="crm_footer_icons">
    <img src="/assets/images/icons-2.png" alt="icons">
  </section>
  <app-footer2></app-footer2>
</section>
