<section class="dashboard-wrapper">
  <app-dashboard-topmenu></app-dashboard-topmenu>
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main">
    <section class="row">
      <section class="datepicker-input">
        <section class="detail">
          <h2>انتخاب بازه زمانی</h2>
        </section>
        <form [formGroup]="dateform">
          <label for="StartDate">Start Date : </label>
          <input type="date" id="StartDate" formControlName="StartDate" value="{{StartDate}}">
          <label for="EndDate">End Date : </label>
          <input type="date" id="EndDate" formControlName="EndDate" value="{{EndDate}}">
          <input type="submit" value="Search" (click)="OnUpdateDate()">
        </form>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>آمار تماس ها</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_count">
        <mat-spinner></mat-spinner>
      </section>
      <section class="line-chart-c1" *ngIf="flag_count">
        <ngx-charts-line-chart
          [results]="series_happycalls"
          [gradient]="false"
          [animations]="true"
          [customColors]="linecharts_colors"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [roundDomains]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'تاریخ'"
          [yAxisLabel]="'تعداد'">
        </ngx-charts-line-chart>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>آمار مشتریان - (نسخه بتا)</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_g1">
        <mat-spinner></mat-spinner>
      </section>
      <section class="number-card-c1">
        <ngx-charts-number-card
          [results]="series_numbercards"
          [customColors]="numbercards_colors"
          [animations]="true">
        </ngx-charts-number-card>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>بزودی ...</h2>
      </section>
    </section>
  </section>
</section>
