svg {
  margin-top: -50px;
}
.note{
  direction: rtl;
}
h3 {
  font-size: 28px;
  text-align: center;
  font-family: Cinema,Bahnschrift;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}
p{
  font-size: 20px;
  font-family: Cinema,Bahnschrift;
  font-weight: normal;
  text-align: center;
}
