svg {
  margin-top: -50px;
}
.note{
  direction: rtl;
}
h3 {
  font-size: 22px;
  font-family: Cinema;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}
p{
  font-size: 18px;
  font-family: Cinema;
  font-weight: normal;
  text-align: center;
}
