<section class="login-form">
    <section class="top-form">
        <img src="assets/images/1-icons.png" alt="icons">
    </section>
    <form [formGroup]="loginform" class="main-form">
        <input class="username" type="text" formControlName="username" id="username" [class.is-invalid]="loginform.controls['username'].dirty && loginform.hasError('required','username')" placeholder="User Name">
        <small *ngIf="loginform.controls['username'].dirty && loginform.hasError('required','username')" class="text-error">UserName is Requierd!</small>
        <input class="password" type="password" formControlName="password" id="password" [class.is-invalid]="loginform.controls['password'].dirty && loginform.hasError('required','password')" placeholder="Password">
        <small *ngIf="loginform.controls['password'].dirty && loginform.hasError('required','password')" class="text-error">Password is Requierd!</small>
        <input (click)="onLogin()" class="submit" type="submit" value="Log in">
    </form>
</section>
<section class="abs-nav">
    <a class="footer-img" href="farzamte.com"><img src="assets/images/footer-box.png" alt=""></a>
    <section class="menu">
        <ul>
            <li class="m-signin"><a href="/login"><span></span> Sign In</a></li>
            <li class="m-home"><a href="/"><span></span> FarzamTe</a></li>
            <li class="m-supp"><a href="/support"><span></span> Support</a></li>
        </ul>
    </section>
</section>
<section class="footer">
    <p class="footer-cp">ثبت نام در این سایت برای عموم آزاد نیست</p>
    <p class="footer-cp">در صورت فراموشی نام کاربری و رمز صرفا با همکاران پشتیبانی تماس بگیرید.</p>
</section>