<div class="table3 glass-table" style="direction:ltr">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="کد">
      <th [hidden]="true" *matHeaderCellDef> کد </th>
      <td [hidden]="true" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="تماس گیرنده">
      <th mat-header-cell *matHeaderCellDef> تماس گیرنده </th>
      <td mat-cell *matCellDef="let element"> {{element.from}} </td>
    </ng-container>
    <ng-container matColumnDef="مشتری">
      <th mat-header-cell *matHeaderCellDef> مشتری </th>
      <td mat-cell *matCellDef="let element"> {{element.to}} </td>
    </ng-container>
    <ng-container matColumnDef="کدملی">
      <th mat-header-cell *matHeaderCellDef> کدملی </th>
      <td mat-cell *matCellDef="let element"> {{element.nationalCode}} </td>
    </ng-container>
    <ng-container matColumnDef="توضیحات">
      <th mat-header-cell *matHeaderCellDef> توضیحات </th>
      <td mat-cell *matCellDef="let element">
        {{ element.description ? (element.description.length > 20 ? element.description.substring(0, 20) + '...' : element.description) : 'بدون توضیحات' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="تاریخ">
      <th mat-header-cell *matHeaderCellDef> تاریخ </th>
      <td mat-cell *matCellDef="let element">
        {{element.createdon | date:'yyyy-MM-dd | HH:mm'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="میزان رضایت">
      <th mat-header-cell *matHeaderCellDef> میزان رضایت </th>
      <td mat-cell *matCellDef="let element">
        {{element.customerSatisfaction}}
      </td>
    </ng-container>
    <ng-container matColumnDef="نتیجه تماس">
      <th mat-header-cell *matHeaderCellDef> نتیجه تماس </th>
      <td mat-cell *matCellDef="let element">
        {{element.resultOfCall}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        class="table-row"
        *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClick(row.id)">
    </tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    hidePageSize
    showFirstLastButtons>
  </mat-paginator>
</div>
<section class="overlay" *ngIf="flag_popup">
  <section class="popup glass-modal">
    <div class="popup-header">
      <h2>توضیحات تیکت</h2>
      <button class="close-btn"
              (click)="flag_popup = false;flag_popup_data = false">
        ×
      </button>
    </div>
    <section class="loading-spinner" *ngIf="!flag_popup_data">
      <mat-spinner></mat-spinner>
    </section>
    <section class="ticket_detail" *ngIf="flag_popup_data">
      <p><span>تماس گیرنده :</span> {{series_tts_detail.from}}</p>
      <p><span>مشتری :</span> {{series_tts_detail.to}}</p>
      <p><span>توضیحات :</span> {{series_tts_detail.description}}</p>
      <p *ngIf="series_tts_detail.reasons[0]">
        <span>دلیل اول :</span> {{series_tts_detail.reasons[0]}}
      </p>
      <p *ngIf="series_tts_detail.reasons[1]">
        <span>دلیل دوم :</span> {{series_tts_detail.reasons[1]}}
      </p>
      <p *ngIf="series_tts_detail.reasons[2]">
        <span>دلیل سوم :</span> {{series_tts_detail.reasons[2]}}
      </p>
      <p *ngIf="series_tts_detail.reasons[3]">
        <span>دلیل چهارم :</span> {{series_tts_detail.reasons[3]}}
      </p>
      <p>
        <span>تاریخ :</span>
        {{series_tts_detail.createdon | date: 'yyyy-MM-dd | HH:mm'}}
      </p>
      <p><span>تلفن تماس :</span> {{series_tts_detail.phonenumber}}</p>
      <p><span>کدملی :</span> {{series_tts_detail.nationalCode}}</p>
      <p><span>میزان رضایت :</span> {{series_tts_detail.customerSatisfaction}}</p>
      <p><span>نتیجه تماس :</span> {{series_tts_detail.resultOfCall}}</p>
    </section>
  </section>
</section>
