<section class="dashboard-wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <section class="dashboard-main">
    <section class="row" id="select_date" #select_date>
      <section class="detail">
        <h2>انتخاب تاریخ گزارش</h2>
      </section>
      <p class="soon">در حال حاضر فقط اطلاعات تاریخ تیرماه 1404 در دسترس میباشد!</p>
    </section>
    <section class="row">
      <section class="detail">
        <h2>محاسبه کارمزد کارگزاری (بورس اوراق بهادار)</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_data">
        <mat-spinner></mat-spinner>
      </section>
      <section class="table-group">
        <!-- B1 -->
        <h4>بازار اوراق بدهی</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <p>اوراق صکوک</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b1_part1">
                  {{ columnTitles_b1_part1[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b1_part1">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>اوراق مشارکت</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b1_part2">
                  {{ columnTitles_b1_part2[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b1_part2">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>اوراق گواهی سپرده</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b1_part3">
                  {{ columnTitles_b1_part3[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b1_part3">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>ارزش کل معاملات بازار اوراق بدهی</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b1_part4">
                  {{ columnTitles_b1_part4[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b1_part4">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
        <!-- B2 -->
        <h4>بازار اوراق مشتقه</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <p>اختیار خرید</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b2_part1">
                  {{ columnTitles_b2_part1[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b2_part1">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>اختیار فروش</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b2_part2">
                  {{ columnTitles_b2_part2[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b2_part2">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table-both">
            <section class="table2-section">
              <p>اختیار فروش تبعی</p>
              <section class="table2">
                <section class="table2-header">
                  <section class="cell2-header cell2-small">تاریخ</section>
                  <section class="cell2-header" *ngFor="let col of Columns_b2_part3">
                    {{ columnTitles_b2_part3[col] || col }}
                  </section>
                </section>
                <section class="table2-row" *ngFor="let item of series_data">
                  <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                  <section class="cell2" *ngFor="let col of Columns_b2_part3">
                    {{ item[col] | number:'1.0-0' }} ریال
                  </section>
                </section>
              </section>
            </section>
            <section class="table2-section">
              <p>قرارداد آتی سهام</p>
              <section class="table2">
                <section class="table2-header">
                  <section class="cell2-header cell2-small">تاریخ</section>
                  <section class="cell2-header" *ngFor="let col of Columns_b2_part4">
                    {{ columnTitles_b2_part4[col] || col }}
                  </section>
                </section>
                <section class="table2-row" *ngFor="let item of series_data">
                  <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                  <section class="cell2" *ngFor="let col of Columns_b2_part4">
                    {{ item[col] | number:'1.0-0' }} ریال
                  </section>
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>ارزش کل معاملات بازار مشتقه</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b2_part5">
                  {{ columnTitles_b2_part5[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b2_part5">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
        <!-- B3 -->
        <h4>بازار سرمایه‌گذار حرفه‌ای</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <p>سهام عادی بورس</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b3_part1">
                  {{ columnTitles_b3_part1[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b3_part1">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>ارزش کل بازار سرمایه‌گذار حرفه‌ای</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b3_part2">
                  {{ columnTitles_b3_part2[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b3_part2">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
        <!-- B4 -->
        <h4>بازار سهام</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <p>حق تقدم بورس</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b4_part1">
                  {{ columnTitles_b4_part1[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b4_part1">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>سهام عادی بورس</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b4_part2">
                  {{ columnTitles_b4_part2[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b4_part2">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
          <section class="table2-section">
            <p>ارزش کل معاملات بازار سهام</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b4_part2">
                  {{ columnTitles_b4_part2[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b4_part2">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
        <!-- B5 -->
        <h4>بازار صندوق‌های سرمایه‌گذاری قابل معامله در بورس</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <p>ارزش کل معاملات</p>
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_b5">
                  {{ columnTitles_b5[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_b5">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
        <!-- BT -->
        <h4>ارزش کل معاملات بورس اوراق بهادار تهران</h4>
        <section class="table-part" *ngIf="flag_data">
          <section class="table2-section">
            <section class="table2">
              <section class="table2-header">
                <section class="cell2-header cell2-small">تاریخ</section>
                <section class="cell2-header" *ngFor="let col of Columns_bt">
                  {{ columnTitles_bt[col] || col }}
                </section>
              </section>
              <section class="table2-row" *ngFor="let item of series_data">
                <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
                <section class="cell2" *ngFor="let col of Columns_bt">
                  {{ item[col] | number:'1.0-0' }} ریال
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>محاسبه کارمزد کارگزاری (فرابورس)</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_data">
        <mat-spinner></mat-spinner>
      </section>
      <section class="table2-wrap" *ngIf="flag_data">
        <section class="table2">
          <section class="table2-header">
            <section class="cell2-header cell2-small">تاریخ</section>
            <section class="cell2-header" *ngFor="let col of candidateColumns_f">
              {{ columnTitles_f[col] || col }}
            </section>
          </section>
          <section class="table2-row" *ngFor="let item of series_data">
            <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
            <section class="cell2" *ngFor="let col of candidateColumns_f">
              {{ item[col] | number:'1.0-0' }} ریال
            </section>
          </section>
        </section>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>محاسبه کارمزد کارگزاری (بورس کالا)</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_data">
        <mat-spinner></mat-spinner>
      </section>
      <section class="table2-wrap" *ngIf="flag_data">
        <section class="table2">
          <section class="table2-header">
            <section class="cell2-header cell2-small">تاریخ</section>
            <section class="cell2-header" *ngFor="let col of candidateColumns_k">
              {{ columnTitles_k[col] || col }}
            </section>
          </section>
          <section class="table2-row" *ngFor="let item of series_data">
            <section class="cell2 cell2-small">{{ item.date_Monthly }}</section>
            <section class="cell2" *ngFor="let col of candidateColumns_k">
              {{ item[col] | number:'1.0-0' }} ریال
            </section>
          </section>
        </section>
      </section>
    </section>
    <section class="row">
      <section class="detail">
        <h2>محاسبه کارمزد کارگزاری (بورس انرژی)</h2>
      </section>
      <section class="loading-spinner" *ngIf="!flag_data">
        <mat-spinner></mat-spinner>
      </section>
      <p class="soon">بزودی ...</p>
    </section>
  </section>
</section>
