.table-group {
  margin: 1rem 0;
}

.table-part {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-group h4 {
  width: fit-content;
  font: 22px Nazanin;
  font-weight: bold;
  padding: 4px 8px;
  background: #0b3847;
  color: white;
  border-radius: 5px;
}

.table-group .table-part p {
  width: fit-content;
  font: 18px Nazanin;
  font-weight: bold;
  padding: 4px 8px;
  background: #1b9ac4;
  color: white;
  border-radius: 5px;
}

.table2-section {
  width: 100%;
}

.table-both {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-both .table2-section {
  width: 48%;
}

.table2 {
  display: inline-table;
  border-collapse: collapse;
  table-layout: auto;
  white-space: nowrap;
}

.table2-header,
.table2-row {
  display: table-row;
}

.cell2-header,
.cell2 {
  display: table-cell;
  padding: 8px 12px;
  vertical-align: middle;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.cell2-small {
  text-align: center;
  font-weight: 600;
}
.dashboard-main .row p.soon {
   font-family: Nazanin;
  font-weight: bold;
   font-size: 24px;
   text-align: center;
 }
