.dashboard-wrapper .dashboard-main .background-dashboard {
  background-image: url('/assets/images/background-dashboard.png');
  width: 438px;
  height: 468px;
  margin: 2rem;
}
.row {
  justify-content: center;
}
