.menu1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu1-container a {
  display: flex;
}
.menu1-container a img {
  width: 70px;
  margin-right: 1rem;
}
ul li {
  display: grid;
}
ul li a {
  text-decoration: none;
}
ul li a span {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-right: 0.5rem;
}
ul li.m-signin a {
  color: #d9a22e;
}
ul li.m-home a {
  color: #1b9ac4;
}
ul li.m-supp a {
  color: #65828f;
}

@media screen and (max-width:768px) {
  ul li a{
    font-size: 20px;
  }
  ul li a span{
    font-size: 15px;
  }
}
@media screen and (min-width:769px){
  /*.login-form .main-form{
    background-color: yellow;
  }*/
}
@media screen and (min-width:993px){
  /*.login-form .main-form{
    background-color: magenta;
  }*/
}
@media screen and (min-width:1201px){
  /*.login-form .main-form{
    background-color: cyan;
  }*/
}
