p {
  font-size: 18px;
  font-family: Cinema;
  color: #004d77;
  line-height: 0.954;
  text-align: center;
  margin-top: 1em;
}
p span {
  color: #d9a02d;
}
@media screen and (max-width:768px) {
  p {
    font-size: 14px;
  }
}
