/* Main Variables */
$Background : #f2f2f2;
$Foreground : #544f53;
$Font-Size : 14px;
$Font-Family-En : Myriad Pro, Bahnschrift;
$Font-Family-Fa : Cinema, Bahnschrift;
/* brokerages Variables */
$Dash-Background : #161d31;
$Dash-Background-Secondary : #283046;
$Dash-Foreground : 0;
$table_one: #a8bdff;
$table_two: #7995eb;

@font-face {
  font-family: Acumin_vc;
  src: url('/assets/fonts/Acumin-Variable-Concept.ttf');
}
@font-face {
  font-family: Nazanin;
  src: url('/assets/fonts/B-NAZANIN.TTF');
}
@font-face {
  font-family: Wingdings;
  src: url('/assets/fonts/WINGDNG3.TTF');
}
@font-face {
  font-family: Cinema;
  src: url('/assets/fonts/Cinema-fa.ttf');
}
@font-face {
  font-family: Casablanca;
  src: url('/assets/fonts/Mj_Casablanca.ttf');
}
@font-face {
  font-family: Bahnschrift;
  src: url('/assets/fonts/BAHNSCHRIFT.TTF');
}
@font-face {
  font-family: Yekan;
  src: url('/assets/fonts/BYekan.ttf');
}
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #004e75;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #003b59;
}
ul,p{
  padding: 0;
  margin: 0;
}
.clear {
  clear: both;
}
body {
  background-color: $Background;
  direction: ltr;
  font: $Font-Size $Font-Family-En;
}
.container {
  display: flex;
  min-height: 99svh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.abs-nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}
.abs-nav a img {
  width: 87px;
}
.rev {
  align-items: flex-end;
}
.main {
  display: flex;
  direction: rtl;
  margin: auto;
}
app-header {
  display: flex;
  width: 100%;
  margin: 2em auto auto;
}
app-menu1 {
  font-size: 22px;
  font-family: Calibri;
  text-align: left;
  font-weight: 600;
  line-height: normal;
}
app-menu2{
  font-family: $Font-Family-Fa;
  text-align: right;
  direction: rtl;
  margin-top: 2rem;
}
app-footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 1em;
}
app-footer2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 1em;
}
.text-error {
  color: red;
  margin-bottom: 40px;
}
app-note1 {
  width: 200px;
  margin: 1rem;
}
app-note1 .note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 30px;
}

.dashboard-wrapper {
  display: flex;
  direction: ltr;
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.dashboard-main {
  display: flex;
  direction: rtl;
  flex-direction: column;
  width: calc(100% - 18rem);
  min-height: calc(100vh - 4rem);
  margin: 2rem 1rem 0 2rem;
}
.dashboard-main-small {
  width: calc(100% - 17rem - 19rem);
  min-height: calc(100vh - 4rem);
  margin: 2rem 1rem;
}
.dashboard-main .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: .428rem;
  padding: .8rem 1rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}
.dashboard-main .solo {
  margin-bottom: 0;
}
.dashboard-main-small .row {
  width: 100%;
  align-items: center;
}
.dashboard-main .row p {
  font: 14px Cinema, Myriad Pro, Bahnschrift, serif;
  color: black;
}
app-dashboard-sidebar{
  min-width: 12rem;
  display: flex;
  margin: 2rem 2rem 2rem 1rem;
  flex-direction: column;
}
app-dashboard-sidebar aside {
  width: 12rem;
}
app-dashboard-sidebar aside nav {
  width: inherit;
  height: 100%;
  position: fixed;
}
.svgedit{
  filter: invert(1);
}
.svg_menu_color {
  fill: #ffffff;
}
.row .datepicker-input {
  display: flex;
  flex-direction: column;
}
.row .datepicker-input form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .datepicker-input form input {
  margin-left: 10px;
  cursor: pointer;
}
.row .datepicker-input form input[type=date] {
  padding: 5px;
  font: 18px Acumin_vc;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #004e75;
  background-color: white;
}
.row .datepicker-input form input[type=submit] {
  padding: 5px;
  font: 18px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  border: 2px solid #004e75;
  border-radius: 5px;
  color: #004e75;
  background-color: white;
}
.row .datepicker-input form input[type=submit]:hover {
  background-color: #004e75;
  color: white;
}
.row .datepicker-input form label {
  font: 18px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  margin-left: 10px;
}
.row .datepicker-input .time_auto {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.row .datepicker-input .time_auto button {
  margin: 0 5px;
  padding: 6px 12px;
  font: 16px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  border: 2px solid #004e75;
  border-radius: 5px;
  background-color: #004e75;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.row .datepicker-input .time_auto button:hover {
  background-color: white;
  color: #004e75;
  border: 2px solid #004e75;
}
.row .datepicker-input .time_text p {
  font: 18px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}
/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px) {
  .container{
    margin: 0 1em;
  }
  .abs-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .abs-nav .login-img{
    display: none;
  }
  app-menu1{
    margin-top: 5px;
  }
  app-footer1 {
    margin: auto auto 1em;
  }
  app-menu2{
    margin-top: 0;
  }
  app-note1 {
    width: 170px;
    margin: 0.5rem;
  }
}
@media screen and (max-width:600px) {
  .abs-nav {
    flex-direction: column;
    align-items: stretch;
  }
  app-menu2{
    margin-top: 2rem;
  }
  app-note1 {
    width: 200px;
    margin: auto 0 4rem;
  }
}

/* Additional Css For Fix NgxChart And Improve View Data */

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #1b9ac4!important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value{
  margin-top: 0!important;
}
.ngx-charts .gridline-path{
  stroke: #161616!important;
}
.line-chart-c1{
  width: 100%;
  direction: ltr;
}
.bar-chart-c1{
  width: 100%;
  direction: ltr;
}
.bar-chart-c2{
  width: 100%;
  min-height: 600px;
  direction: rtl;
}
.pie-chart-c1{
  width: 60%;
  height: 400px;
  direction: ltr;
}
.pie-chart-c2{
  width: 100%;
  direction: ltr;
}
.pie-chart-c3{
  width: 50%;
  direction: ltr;
}
.tree-map-c1{
  width: 50%;
  direction: rtl;
}
.tree-map-c2{
  width: 100%;
  direction: rtl;
}
.pie-grid-c1{
  width: 40%;
  height: 400px;
  direction: ltr;
}
.data-g4{
  width: 50%;
  margin: 1rem auto 2rem;
  direction: ltr;
}
.table-c1 {
  width: 100%;
  direction: ltr;
}
.number-card-c1 {
  width: 100%;
  max-width: 1030px;
  height: 400px;
  direction: ltr;
}
.number-card-c2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.c3 {
  width: 50%;
}
.row .row-middle-h3 {
  font: 18px Yekan, Bahnschrift, serif;
  color: #474747;
  font-weight: bold;
  text-align: center;
}
.dashboard-main .top-contact,
.dashboard-main-small .top-contact {
  height: 9rem;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar-track {
  background: #b8a9ff;
  border-radius: 5px;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar-thumb {
  background: #6754e0;
  border-radius: 5px;
}
.loading-spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.loading-spinner-half{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.row .both-chart {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.row .detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.row .detail h2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  margin-right: -26px;
  padding: 5px 1rem 20px calc(1rem + var(--r));
  clip-path:
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #1c1b3a;
  color: white;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
.row .has-p {
  flex-direction: column;
}
.row .detail h2,
.row .detail p {
  text-align: right;
  font: 22px Nazanin , Bahnschrift;
  font-weight: bold;
  width: fit-content;
}
.row .detail p {
  color: black;
}
.row .detail h3{
  margin-right: 1rem;
}
.row .detail h3{
  text-align: right;
  font: 18px Cinema , Bahnschrift;
  direction: rtl;
}
.both-view{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.both-view,
.row .line-chart-c1,
.row .line-chart-c2,
.row .pie-chart-c1,
.row .pie-grid-c1,
.row .bar-chart-c1,
.row .bar-chart-c2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table {
  display: flex;
  width: 100%;
  height: 35rem;
  overflow: auto;
  flex-direction: column;
  padding: 1rem;
}
.table-header {
  background-color: #4dd1ff;
}
.table-row {
  background-color: #9fccf4;
}
.table-header , .table-row {
  display: flex;
  flex-direction: row;
}
.table-header .cell-header,
.table-row .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 4rem;
  font-family: Yekan, Bahnschrift, serif;
  border: 2px solid #b7efff;
}
.table-row .cell {
  font-size: 14px;
}
.table-header .cell-header {
  font-size: 16px;
  font-weight: bold;
}
.table-header .cell-key,
.table-row .cell-key {
  width: 28%;
}
.table-header .cell-large,
.table-row .cell-large {
  width: 55%;
}
.table-header .cell-small,
.table-row .cell-small {
  width: 20%;
}
.table-header .cell-header p,
.table-row .cell p{
  font: 22px Cinema , Bahnschrift;
  color: white;
  margin: 8px;
}
.table-row .spec p {
  color: #ffc021;
}
foreignObject.trimmed-label p {
  font-size: 18px!important;
  line-height: 18px!important;
  font-family: Cinema, Bahnschrift, serif;
}
text.value-text {
  font-family: Cinema, Bahnschrift, serif;
}
.table-g4{
  display: flex;
  flex-direction: column;
}
.table-header-g4{
  display: flex;
  flex-direction: row-reverse;
  border-left: 2px solid $table_two;
  border-top: 2px solid $table_two;
  border-right: 2px solid $table_two;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.table-body-g4{
  display: flex;
  flex-direction: row-reverse;
}
.cell-header-key-g4,
.cell-header-value-g4,
.cell-lbl-g4,
.cell-key-g4,
.cell-value-g4{
  font: 18px Yekan , Bahnschrift , Serif;
  color: black;
  text-align: right;
  padding: 5px;
  overflow: hidden;
}
.table-header-none-g4{
  width: 25%;
  background: $table_one;
}
.cell-header-key-g4{
  width: 50%;
  background: $table_one;
  font-weight: bold;
}
.cell-header-value-g4{
  width: 25%;
  background: $table_one;
  text-align: center;
  font-weight: bold;
}
.table-column-lbl-g4{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $table_two;
  border-bottom-right-radius: 5px;
}
.table-column-key-g4{
  width: 50%;
}
.table-column-value-g4{
  width: 25%;
}
.cell-lbl-g4{
  margin-top: -4rem;
  font-weight: bold;
}
.cell-key-g4:nth-child(odd),
.cell-value-g4:nth-child(odd) {
  background: $table_two;
}
.cell-key-g4:nth-child(even),
.cell-value-g4:nth-child(even) {
  background: $table_one;
}
.cell-key-g4:nth-child(even){
  border-left: 2px solid $table_two;
}
.cell-value-g4{
  text-align: center;
  border-left: 2px solid $table_two;
}
.cell-value-g4:last-child {
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid $table_two;
}
.cell-key-g4:last-child {
  border-bottom: 2px solid $table_two;
}
.table2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0 2rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: linear-gradient(45deg, #eaeded, #aeb6bf);
  border-radius: 5px;
}
.table2-header {
  background-color: #0b3847;
  color: white;
  text-align: left;
}
.table2-row:hover {
  background-color: rgba(255,255,255,0.3);
}
.table2-header , .table2-row {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
}
.table2-header .cell2-header,
.table2-row .cell2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 4rem;
  font-family: Nazanin, Bahnschrift, serif;
}
.table2-header .cell2-small,
.table2-row .cell2-small {
  width: 10%;
}
.table2-header .cell2-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.table2-row .cell2 {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: black;
}
.table2-row .cell2 .cell-sub {
  font: 14px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}

.table3 {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background: linear-gradient(45deg, #eaeded, #aeb6bf);
  border-radius: 10px;
  overflow: hidden;
}
.table3 th {
  background-color: #0b3847;
  color: white;
}
.table3 th ,
.table3 td {
  text-align: center;
}
.table3 tr td:first-child ,
.table3 tr th:first-child {
  padding-left: 10px;
}
.table3 tr td:last-child ,
.table3 tr th:last-child {
  padding-right: 10px;
}
.table3 tr {
  cursor: pointer;
}
.table3 tr:hover {
  background-color: rgba(255,255,255,0.3);
}

.number-card-c2 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 12rem;
  width: auto;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-bottom: 10px solid #004e75;
}
.number-card-c2 .card:hover {
  opacity: 0.8;
}
.number-card-c2 .card p.key {
  font: 18px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
.number-card-c2 .card p.value {
  font: 18px Bahnschrift, serif;
}
.number-card-c2 .Customers_Count {
  background: #5DADE2;
}
.number-card-c2 .Active_Customers_Count {
  background: #48C9B0;
}
.number-card-c2 .Inactive_Customers_Count {
  background: #EC7063;
}
.number-card-c2 .SuccessfulCalls_Count {
  background: #AF7AC5;
}
.number-card-c2 .ActiveAfterCalls_Count {
  background: #F4D03F;
}
.number-card-c2 .ActiveInOtherBrokers_Count {
  background: #EB984E;
}
.number-card-c2 .ExplanationClub_Count {
  background: #AAB7B8;
}
.row .st_to_en {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  direction: ltr;
}
.row .st_to_en p {
  font: 14px Bahnschrift , Serif;
  color: #000000;
  text-align: center;
}
.overlay {
  position: fixed;
  direction: ltr;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
.overlay .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
.overlay .popup h2 {
  margin: 0 0 1rem;
  color: #333;
  font-family: Bahnschrift, serif;
}
.overlay .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.overlay .popup .close:hover {
  color: #EC7063;
  cursor: pointer;
}
.row .top-fix {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;
  justify-content: center;
}
.row .top-fix .brokerage {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row .top-fix .brokerage .brokerage-name {
  font: 22px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}
.row .top-fix .brokerage .brokerage-logo {
  margin: 0 1rem;
}
.row .top-fix .brokerage .brokerage-logo img {
  width: auto;
  height: 4rem;
}
.row .all-date {
  width: auto;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
}
.row .all-date h3 ,
.row .all-brokerage .brokers-list h3 ,
.row .all-cmp .comparison-list h3 {
  font: 20px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}
.row .all-date .mat-mdc-tab-group {
  height: 201px;
}
.row .all-date .mat-mdc-tab-body-wrapper {
  height: 165px;
}
.row .all-date .mat-mdc-tab-body-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.row .all-date .mdc-tab-indicator .mdc-tab-indicator__content {
  display: none;
}
.row .all-date .mat-mdc-tab-label-container {
  border: none;
  margin-bottom: 10px;
}
.row .all-date .mdc-tab--active {
  border-bottom: 4px solid #004e75;
}
.row .all-date .mdc-tab__text-label {
  font: 18px Bahnschrift, serif;
  font-weight: bold;
}
.row .all-date .item {
  display: flex;
  width: 5rem;
  flex-direction: row;
  margin-bottom: 8px;
  justify-content: space-between;
}
.row .all-date .item label {
  font: 16px Bahnschrift, serif;
  cursor: pointer;
}
.row .all-date .item input[type=checkbox] {
  cursor: pointer;
}
.row .all-date button {
  font: 16px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
.row .top-fix .all-brokerage {
  width: auto;
  display: flex;
  flex-direction: column;
}
.row .top-fix .all-brokerage .row-cmp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.row .top-fix .all-brokerage .brokers-list {
  width: 250px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
}
.row .top-fix .all-brokerage .brokers-list ul {
  direction: ltr;
  height: 200px;
  overflow-y: scroll;
}
.row .top-fix .all-brokerage .brokers-list ul li {
  font: 18px Nazanin, Bahnschrift, serif;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid #004e75;
}
.row .top-fix .all-cmp {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row .top-fix .all-cmp .comparison-list {
  width: 250px;
  height: 271px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem;
}
.row .top-fix .all-cmp .comparison-list ul li {
  font: 18px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.row .top-fix .all-cmp .comparison-list button {
  font: 16px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
.row .top-fix .all-cmp .row-cmp p {
  font: 22px Cinema, Bahnschrift, serif;
  font-weight: lighter;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.loading .close {
  font-size: 70px;
  color: #dd3030;
  padding: 1rem;
}
.ticket_detail {
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin: 3rem 1rem;
}
.dashboard-main .row .ticket_detail p {
  font: 22px Nazanin, Bahnschrift, serif;
  font-weight: bold;
}
.dashboard-main .row .filter-table {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.dashboard-main .row .filter-table .ft-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #3498DB;
  font: 16px Nazanin, Bahnschrift, serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #8ecbf4;
  border-radius: 10px;
}
.dashboard-main .row .filter-table .selected {
  background-color: #D6EAF8;
  color: #2C3E50;
  border-color: #2980B9;
}
