/* Main Variables */
$Background : #f2f2f2;
$Foreground : #544f53;
$Font-Size : 14px;
$Font-Family-En : Myriad Pro, Bahnschrift;
$Font-Family-Fa : Cinema, Bahnschrift;
/* dashboard Variables */
$Dash-Background : #161d31;
$Dash-Background-Secondary : #283046;
$Dash-Foreground : 0;
$table_one: #a8bdff;
$table_two: #7995eb;

@font-face {
  font-family: Acumin_vc;
  src: url('/assets/fonts/Acumin-Variable-Concept.ttf');
}
@font-face {
  font-family: Wingdings;
  src: url('/assets/fonts/WINGDNG3.TTF');
}
@font-face {
  font-family: Cinema;
  src: url('/assets/fonts/Cinema-fa.ttf');
}
@font-face {
  font-family: Bahnschrift;
  src: url('/assets/fonts/BAHNSCHRIFT.TTF');
}
@font-face {
  font-family: Yekan;
  src: url('/assets/fonts/BYekan.ttf');
}
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
ul,p{
  padding: 0;
  margin: 0;
}
.clear {
  clear: both;
}
body {
  background-color: $Background;
  direction: ltr;
  font: $Font-Size $Font-Family-En;
}
.container {
  display: flex;
  min-height: 99svh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.abs-nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}
.abs-nav a img {
  width: 87px;
}
.rev {
  align-items: flex-end;
}
.main {
  display: flex;
  direction: rtl;
  margin: auto;
}
app-header {
  display: flex;
  width: 100%;
  margin: 2em auto auto;
}
app-menu1 {
  font-size: 22px;
  font-family: Calibri;
  text-align: left;
  font-weight: 600;
  line-height: normal;
}
app-menu2{
  font-family: $Font-Family-Fa;
  text-align: right;
  direction: rtl;
  margin-top: 2rem;
}
app-footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 1em;
}
app-footer2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 1em;
}
.text-error {
  color: red;
  margin-bottom: 40px;
}
app-note1 {
  width: 200px;
  margin: 1rem;
}
app-note1 .note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 30px;
}

.dashboard-wrapper {
  display: flex;
  direction: ltr;
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.dashboard-main {
  display: flex;
  direction: rtl;
  flex-direction: column;
  width: calc(100% - 18rem);
  min-height: calc(100vh - 4rem);
  margin: 2rem 1rem 0 2rem;
}
.dashboard-main-small {
  width: calc(100% - 17rem - 19rem);
  min-height: calc(100vh - 4rem);
  margin: 2rem 1rem;
}
.dashboard-main .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: .428rem;
  padding: .8rem 1rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}
.dashboard-main .solo {
  margin-bottom: 0;
}
.dashboard-main-small .row {
  width: 100%;
  height: 100%;
  align-items: center;
}
.dashboard-main .row p {
  font: 14px Cinema, Myriad Pro, Bahnschrift, serif;
  color: black;
}
app-dashboard-topmenu{
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.3rem;
  margin-right: 2rem;
  border-radius: .428rem;
  width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 15rem);
  background: $Dash-Background-Secondary;
  z-index: 10;
}
app-dashboard-sidebar{
  min-width: 12rem;
  display: flex;
  margin: 2rem 2rem 2rem 1rem;
  flex-direction: column;
}
app-dashboard-sidebar aside.v1 {
  width: 15rem;
}
app-dashboard-sidebar aside.v2 {
  width: 12rem;
}
app-dashboard-sidebar aside.v2 nav {
  width: inherit;
  position: fixed;
}
.svgedit{
  filter: invert(1);
}
.svg_menu_color {
  fill: #ffffff;
}

/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px) {
  .container{
    margin: 0 1em;
  }
  .abs-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .abs-nav .login-img{
    display: none;
  }
  app-menu1{
    margin-top: 5px;
  }
  app-footer1 {
    margin: auto auto 1em;
  }
  app-menu2{
    margin-top: 0;
  }
  app-note1 {
    width: 170px;
    margin: 0.5rem;
  }
}
@media screen and (max-width:600px) {
  .abs-nav {
    flex-direction: column;
    align-items: stretch;
  }
  app-menu2{
    margin-top: 2rem;
  }
  app-note1 {
    width: 200px;
    margin: auto 0 4rem;
  }
}

/* Additional Css For Fix NgxChart And Improve View Data */

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #1b9ac4!important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value{
  margin-top: 0!important;
}
.ngx-charts .gridline-path{
  stroke: #161616!important;
}
.line-chart-c1{
  width: 100%;
  direction: ltr;
}
.bar-chart-c1{
  width: 100%;
  min-height: 500px;
  direction: ltr;
}
.pie-chart-c1{
  width: 60%;
  height: 400px;
  direction: ltr;
}
.pie-chart-c2{
  width: 100%;
  direction: ltr;
}
.tree-map-c1{
  width: 50%;
  direction: ltr;
}
.pie-grid-c1{
  width: 40%;
  height: 400px;
  direction: ltr;
}
.data-g4{
  width: 50%;
  margin: auto;
  direction: ltr;
}
.table-c1 {
  width: 100%;
  direction: ltr;
}
.number-card-c1 {
  width: 100%;
  max-width: 1030px;
  height: 400px;
  direction: ltr;
}
.number-card-c2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar-track {
  background: #b8a9ff;
  border-radius: 5px;
}
.advanced-pie-legend .legend-items-container .legend-items::-webkit-scrollbar-thumb {
  background: #6754e0;
  border-radius: 5px;
}
.loading-spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.loading-spinner-half{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.datepicker-input{
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}
.datepicker-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.datepicker-input label {
  color: #65828f;
  font: 16px Acumin_vc;
  margin-bottom: 5px;
}

.datepicker-input input {
  margin-bottom: 15px;
}

.datepicker-input input[type=date]{
  padding: 5px;
  font: 18px Acumin_vc;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #65828f;
  background-color: #f2f2f2;
}
.datepicker-input input[type=date]:hover{
  cursor: pointer;
}

.datepicker-input input[type=submit]{
  padding: 8px 8px 5px 8px;
  font: 18px Acumin_vc;
  border: 2px solid #65828f;
  border-radius: 5px;
  color: #65828f;
}
.datepicker-input input[type=submit]:hover{
  background-color: #65828f;
  color: #ffffff;
  cursor: pointer;
}
.row .both-chart {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.row .detail {
  display: flex;
  flex-direction: row;
}
.row .detail h2,
.row .detail p {
  color: black;
  text-align: right;
  font: 22px Yekan , Bahnschrift;
  font-weight: bold;
}
.row .detail h2,
.row .detail h3{
  margin-right: 1rem;
}
.row .detail h3{
  text-align: right;
  font: 18px Cinema , Bahnschrift;
  direction: rtl;
}
.both-view{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.row .detail,
.row .line-chart-c1,
.row .pie-chart-c1,
.row .pie-grid-c1,
.row .bar-chart-c1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}
.table-header {
  background-color: #1b9ac4;
}
.table-row {
  background-color: #2E4053;
}
.table-header , .table-row {
  display: flex;
  flex-direction: row;
}
.table-header .cell-header,
.table-row .cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 18%;
  height: 4rem;
  border: 2px solid #b7efff;
}
.table-header .cell-key,
.table-row .cell-key {
  width: 28%;
}
.table-header .cell-key2,
.table-row .cell-key2 {
  width: 82%;
}
.table-header .cell-header p,
.table-row .cell p{
  font: 22px Cinema , Bahnschrift;
  color: white;
  margin: 8px;
}
.table-row .spec p {
  color: #ffc021;
}
foreignObject.trimmed-label p {
  font-size: 18px!important;
  line-height: 18px!important;
  font-family: Cinema, Bahnschrift, serif;
}
text.value-text {
  font-family: Cinema, Bahnschrift, serif;
}
.table-g4{
  display: flex;
  flex-direction: column;
}
.table-header-g4{
  display: flex;
  flex-direction: row-reverse;
  border-left: 2px solid $table_two;
  border-top: 2px solid $table_two;
  border-right: 2px solid $table_two;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.table-body-g4{
  display: flex;
  flex-direction: row-reverse;
}
.cell-header-key-g4,
.cell-header-value-g4,
.cell-lbl-g4,
.cell-key-g4,
.cell-value-g4{
  font: 18px Yekan , Bahnschrift , Serif;
  color: black;
  text-align: right;
  padding: 5px;
  overflow: hidden;
}
.table-header-none-g4{
  width: 25%;
  background: $table_one;
}
.cell-header-key-g4{
  width: 50%;
  background: $table_one;
  font-weight: bold;
}
.cell-header-value-g4{
  width: 25%;
  background: $table_one;
  text-align: center;
  font-weight: bold;
}
.table-column-lbl-g4{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $table_two;
  border-bottom-right-radius: 5px;
}
.table-column-key-g4{
  width: 50%;
}
.table-column-value-g4{
  width: 25%;
}
.cell-lbl-g4{
  margin-top: -4rem;
  font-weight: bold;
}
.cell-key-g4:nth-child(odd),
.cell-value-g4:nth-child(odd) {
  background: $table_two;
}
.cell-key-g4:nth-child(even),
.cell-value-g4:nth-child(even) {
  background: $table_one;
}
.cell-key-g4:nth-child(even){
  border-left: 2px solid $table_two;
}
.cell-value-g4{
  text-align: center;
  border-left: 2px solid $table_two;
}
.cell-value-g4:last-child {
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid $table_two;
}
.cell-key-g4:last-child {
  border-bottom: 2px solid $table_two;
}
.number-card-c2 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 12rem;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-bottom: 10px solid #004e75;
}
.number-card-c2 .card:hover {
  opacity: 0.8;
}
.number-card-c2 .card p.key {
  font: 18px Cinema, Bahnschrift, serif;
  margin-bottom: 5px;
  text-align: center;
}
.number-card-c2 .card p.value {
  font: 18px Bahnschrift, serif;
}
.number-card-c2 .Customers_Count {
  background: #5DADE2;
}
.number-card-c2 .Active_Customers_Count {
  background: #48C9B0;
}
.number-card-c2 .Inactive_Customers_Count {
  background: #EC7063;
}
.number-card-c2 .SuccessfulCalls_Count {
  background: #AF7AC5;
}
.number-card-c2 .ActiveAfterCalls_Count {
  background: #F4D03F;
}
.number-card-c2 .ActiveInOtherBrokers_Count {
  background: #EB984E;
}
.number-card-c2 .ExplanationClub_Count {
  background: #AAB7B8;
}
.row .st_to_en {
  direction: ltr;
}
.row .st_to_en p {
  font: 14px Bahnschrift , Serif;
  color: #000000;
  text-align: center;
}
