nav {
  margin-top: 2rem;
}
nav .top-sidebar {
  display: flex;
  min-height: 105px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}
nav .top-sidebar .logo img {
  width: 120px;
}
nav .top-sidebar .logo {
  margin-right: 2rem;
}
.logo-mini {
  display: none;
}
.logo-mini img {
  width: 45px;
}
nav ul {
  direction: ltr;
}
nav ul li {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: #1c1b3a 2px solid;
}
nav ul li a {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 1rem;
}
nav ul li a:hover{
  background-color: #6754e0!important;
}
nav ul li a p {
  width: 100%;
  text-align: start;
  font-size: 20px;
  font-family: Acumin_vc;
  color: white;
  padding: 5px 0 0 1rem;
  -moz-transform: matrix(1, 0, 0, 1.2, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.2, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.2, 0, 0);
}
nav ul li a img {
  width: 32px;
  height: 32px;
}
